.yScroll {
    max-width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
}

.button {
    width: 4vw;
    background: none;
    margin: 10px;
}

.button:hover {
    border: 1px solid white;
}

#backArrow {
    padding-bottom: 3vh;
    border-bottom: 2px solid white;
}


#display {
    width: 95vw;
    height: 100vh;
}

#button-bar {
    width: 5%;
    /*
    min-width: 5vw;
    max-width: 5vw;
    */
    min-height: 100vh;
    height: 100%;
}

.content-pane {
    width: 90vw;
    margin-left: 2vw;
}
