.yScroll {
    overflow-x: hidden;
    overflow-y: auto;
}

.button {
    width: 4vw;
    background: none;
    margin: 10px;
}

.button:hover {
    border: 1px solid white;
}

#backArrow {
}


#display {
}

#button-bar {
    width: 98%;
    height: 10%;

    position: fixed;
    z-index: 99;
    bottom: 0;
    left: 0;
}

.content-pane {
    width: 100%;
    margin-bottom: 10vh;
}
