.field {
    font-size: 3vh;
    text-align: center;
    margin: 5vh;
}

.field u {
    margin-bottom: 20px;
}

.snowmanfields {
    color: white;
    width: 99%;
    height: 30vh;
    margin: 1vh;
}

.capOpts {
}

.snowmanName {
    font-size: 100%;
    width: 100%;
}

.hats label {
    font-size: 2vh;
}

.legend {
    font-size: 3vh;
}

#namefield {
    width: 20%;
}

#hatfield {
    width: 20%;
}

#optfields {
    width: 80%;
}
