div {
    color: white;
}

p {
    font-size:  2vh;
}

.indented {
    margin-left: 1vw;
}

#reviewPane {
    margin-left: 2vw;
    width: 90vw;
}

#submitDiv {
    width: 100%;
}

#submitButton {
    font-size: 3vh;
    margin: 1vw;
}

#title {
    width: 100%;
    height: 10%;
    font-size: 5vh;
    margin-bottom: 3vh;
}
